<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>A</key>
        <array>
            <array>
                <string>AC</string>
                <string>247</string>
                <string>Ascension</string>
            </array>
            <array>
                <string>AD</string>
                <string>376</string>
                <string>Andorra</string>
            </array>
            <array>
                <string>AF</string>
                <string>93</string>
                <string>Afghanistan</string>
            </array>
            <array>
                <string>AG</string>
                <string>1268</string>
                <string>Antigua &amp; Barbuda</string>
            </array>
            <array>
                <string>AI</string>
                <string>1264</string>
                <string>Anguilla</string>
            </array>
            <array>
                <string>AL</string>
                <string>355</string>
                <string>Albania</string>
            </array>
            <array>
                <string>AM</string>
                <string>374</string>
                <string>Armenia</string>
            </array>
            <array>
                <string>AO</string>
                <string>244</string>
                <string>Angola</string>
            </array>
            <array>
                <string>AQ</string>
                <string>64672</string>
                <string>Antarctica</string>
            </array>
            <array>
                <string>AR</string>
                <string>54</string>
                <string>Argentina</string>
            </array>
            <array>
                <string>AT</string>
                <string>43</string>
                <string>Austria</string>
            </array>
            <array>
                <string>AU</string>
                <string>61</string>
                <string>Australia</string>
            </array>
            <array>
                <string>AW</string>
                <string>297</string>
                <string>Aruba</string>
            </array>
            <array>
                <string>AZ</string>
                <string>994</string>
                <string>Azerbaijan</string>
            </array>
            <array>
                <string>DZ</string>
                <string>213</string>
                <string>Algeria</string>
            </array>            
        </array>
    </dict>
    <dict>
        <key>B</key>
        <array>
            <array>
                <string>BA</string>
                <string>387</string>
                <string>Bosnia &amp; Herzegovina</string>
            </array>
            <array>
                <string>BB</string>
                <string>1246</string>
                <string>Barbados</string>
            </array>
            <array>
                <string>BD</string>
                <string>880</string>
                <string>Bangladesh</string>
            </array>
            <array>
                <string>BE</string>
                <string>32</string>
                <string>Belgium</string>
            </array>
            <array>
                <string>BF</string>
                <string>226</string>
                <string>Burkina-faso</string>
            </array>
            <array>
                <string>BG</string>
                <string>359</string>
                <string>Bulgaria</string>
            </array>
            <array>
                <string>BH</string>
                <string>973</string>
                <string>Bahrain</string>
            </array>
            <array>
                <string>BI</string>
                <string>257</string>
                <string>Burundi</string>
            </array>
            <array>
                <string>BJ</string>
                <string>229</string>
                <string>Benin</string>
            </array>
            <array>
                <string>BM</string>
                <string>1441</string>
                <string>Bermuda Is.</string>
            </array>
            <array>
                <string>BN</string>
                <string>673</string>
                <string>Brunei</string>
            </array>
            <array>
                <string>BO</string>
                <string>591</string>
                <string>Bolivia</string>
            </array>
            <array>
                <string>BR</string>
                <string>55</string>
                <string>Brazil</string>
            </array>
            <array>
                <string>BS</string>
                <string>1242</string>
                <string>Bahamas</string>
            </array>
            <array>
                <string>BT</string>
                <string>975</string>
                <string>Bhutan</string>
            </array>
            <array>
                <string>BV</string>
                <string>263</string>
                <string>Bouvet Island</string>
            </array>
            <array>
                <string>BW</string>
                <string>267</string>
                <string>Botswana</string>
            </array>
            <array>
                <string>BY</string>
                <string>375</string>
                <string>Belarus</string>
            </array>
            <array>
                <string>BZ</string>
                <string>501</string>
                <string>Belize</string>
            </array>
            <array>
                <string>IO</string>
                <string>246</string>
                <string>British Indian Ocean Territory</string>
            </array>
            <array>
                <string>VG</string>
                <string>1284</string>
                <string>British Virgin Islands</string>
            </array>            
        </array>
    </dict>
    <dict>
        <key>C</key>
        <array>
            <array>
                <string>CA</string>
                <string>1</string>
                <string>Canada</string>
            </array>
            <array>
                <string>CC</string>
                <string>61</string>
                <string>Cocos (Keeling) Islands</string>
            </array>
            <array>
                <string>CD</string>
                <string>243</string>
                <string>Congo-kinshasa</string>
            </array>
            <array>
                <string>CF</string>
                <string>236</string>
                <string>Central African Republic</string>
            </array>
            <array>
                <string>CG</string>
                <string>242</string>
                <string>Congo</string>
            </array>
            <array>
                <string>CK</string>
                <string>682</string>
                <string>Cook Is.</string>
            </array>
            <array>
                <string>CL</string>
                <string>56</string>
                <string>Chile</string>
            </array>
            <array>
                <string>CM</string>
                <string>237</string>
                <string>Cameroon</string>
            </array>
            <array>
                <string>CN</string>
                <string>86</string>
                <string>China</string>
            </array>
            <array>
                <string>CO</string>
                <string>57</string>
                <string>Colombia</string>
            </array>
            <array>
                <string>CP</string>
                <string>33</string>
                <string>Clipperton Island</string>
            </array>
            <array>
                <string>CR</string>
                <string>506</string>
                <string>Costa Rica</string>
            </array>
            <array>
                <string>CU</string>
                <string>53</string>
                <string>Cuba</string>
            </array>
            <array>
                <string>CV</string>
                <string>238</string>
                <string>Cabo Verde</string>
            </array>
            <array>
                <string>CW</string>
                <string>599</string>
                <string>Curaçao</string>
            </array>
            <array>
                <string>CX</string>
                <string>61</string>
                <string>Christmas Island</string>
            </array>
            <array>
                <string>CY</string>
                <string>357</string>
                <string>Cyprus</string>
            </array>
            <array>
                <string>CZ</string>
                <string>420</string>
                <string>Czech</string>
            </array>
            <array>
                <string>EA</string>
                <string>34</string>
                <string>Ceuta &amp; Melilla</string>
            </array>
            <array>
                <string>HR</string>
                <string>385</string>
                <string>Croatia</string>
            </array>
            <array>
                <string>IC</string>
                <string>34</string>
                <string>Canary Islands</string>
            </array>
            <array>
                <string>KH</string>
                <string>855</string>
                <string>Cambodia</string>
            </array>
            <array>
                <string>KM</string>
                <string>269</string>
                <string>Comoros</string>
            </array>
            <array>
                <string>KY</string>
                <string>1345</string>
                <string>Cayman Is.</string>
            </array>
            <array>
                <string>TD</string>
                <string>235</string>
                <string>Chad</string>
            </array>            
        </array>
    </dict>
    <dict>
        <key>D</key>
        <array>
            <array>
                <string>DG</string>
                <string>44</string>
                <string>Diego Garcia</string>
            </array>
            <array>
                <string>DJ</string>
                <string>253</string>
                <string>Djibouti</string>
            </array>
            <array>
                <string>DK</string>
                <string>45</string>
                <string>Denmark</string>
            </array>
            <array>
                <string>DM</string>
                <string>1767</string>
                <string>Dominica</string>
            </array>
            <array>
                <string>DO</string>
                <string>1890</string>
                <string>Dominica Rep.</string>
            </array>            
        </array>
    </dict>
    <dict>
        <key>E</key>
        <array>
            <array>
                <string>EC</string>
                <string>593</string>
                <string>Ecuador</string>
            </array>
            <array>
                <string>EE</string>
                <string>372</string>
                <string>Estonia</string>
            </array>
            <array>
                <string>EG</string>
                <string>20</string>
                <string>Egypt</string>
            </array>
            <array>
                <string>ER</string>
                <string>291</string>
                <string>Eritrea</string>
            </array>
            <array>
                <string>ET</string>
                <string>251</string>
                <string>Ethiopia</string>
            </array>
            <array>
                <string>GQ</string>
                <string>240</string>
                <string>Equatorial Guinea</string>
            </array>
            <array>
                <string>SV</string>
                <string>503</string>
                <string>EI Salvador</string>
            </array>            
        </array>
    </dict>
    <dict>
        <key>F</key>
        <array>
            <array>
                <string>FI</string>
                <string>358</string>
                <string>Finland</string>
            </array>
            <array>
                <string>FJ</string>
                <string>679</string>
                <string>Fiji</string>
            </array>
            <array>
                <string>FK</string>
                <string>500</string>
                <string>Falkland Islands</string>
            </array>
            <array>
                <string>FO</string>
                <string>298</string>
                <string>Faroe Islands</string>
            </array>
            <array>
                <string>FR</string>
                <string>33</string>
                <string>France</string>
            </array>
            <array>
                <string>GF</string>
                <string>594</string>
                <string>French Guiana</string>
            </array>
            <array>
                <string>PF</string>
                <string>689</string>
                <string>French Polynesia</string>
            </array>
            <array>
                <string>TF</string>
                <string>33</string>
                <string>French Southern Territories</string>
            </array>            
        </array>
    </dict>
    <dict>
        <key>G</key>
        <array>
            <array>
                <string>DE</string>
                <string>49</string>
                <string>Germany</string>
            </array>
            <array>
                <string>GA</string>
                <string>241</string>
                <string>Gabon</string>
            </array>
            <array>
                <string>GD</string>
                <string>1809</string>
                <string>Grenada</string>
            </array>
            <array>
                <string>GE</string>
                <string>995</string>
                <string>Georgia</string>
            </array>
            <array>
                <string>GG</string>
                <string>44</string>
                <string>Guernsey</string>
            </array>
            <array>
                <string>GH</string>
                <string>233</string>
                <string>Ghana</string>
            </array>
            <array>
                <string>GI</string>
                <string>350</string>
                <string>Gibraltar</string>
            </array>
            <array>
                <string>GL</string>
                <string>299</string>
                <string>Greenland</string>
            </array>
            <array>
                <string>GM</string>
                <string>220</string>
                <string>Gambia</string>
            </array>
            <array>
                <string>GN</string>
                <string>224</string>
                <string>Guinea</string>
            </array>
            <array>
                <string>GP</string>
                <string>590</string>
                <string>Guadeloupe</string>
            </array>
            <array>
                <string>GR</string>
                <string>30</string>
                <string>Greece</string>
            </array>
            <array>
                <string>GT</string>
                <string>502</string>
                <string>Guatemala</string>
            </array>
            <array>
                <string>GU</string>
                <string>1671</string>
                <string>Guam</string>
            </array>
            <array>
                <string>GW</string>
                <string>245</string>
                <string>Guinea-Bissau</string>
            </array>
            <array>
                <string>GY</string>
                <string>592</string>
                <string>Guyana</string>
            </array>            
        </array>
    </dict>
    <dict>
        <key>H</key>
        <array>
            <array>
                <string>HK</string>
                <string>852</string>
                <string>Hongkong</string>
            </array>
            <array>
                <string>HM</string>
                <string>61</string>
                <string>Heard &amp; McDonald Islands</string>
            </array>
            <array>
                <string>HN</string>
                <string>504</string>
                <string>Honduras</string>
            </array>
            <array>
                <string>HT</string>
                <string>509</string>
                <string>Haiti</string>
            </array>
            <array>
                <string>HU</string>
                <string>36</string>
                <string>Hungary</string>
            </array>            
        </array>
    </dict>
    <dict>
        <key>I</key>
        <array>
            <array>
                <string>ID</string>
                <string>62</string>
                <string>Indonesia</string>
            </array>
            <array>
                <string>IE</string>
                <string>353</string>
                <string>Ireland</string>
            </array>
            <array>
                <string>IL</string>
                <string>972</string>
                <string>Israel</string>
            </array>
            <array>
                <string>IM</string>
                <string>44</string>
                <string>Isle of Man</string>
            </array>
            <array>
                <string>IN</string>
                <string>91</string>
                <string>India</string>
            </array>
            <array>
                <string>IQ</string>
                <string>964</string>
                <string>Iraq</string>
            </array>
            <array>
                <string>IR</string>
                <string>98</string>
                <string>Iran</string>
            </array>
            <array>
                <string>IS</string>
                <string>354</string>
                <string>Iceland</string>
            </array>
            <array>
                <string>IT</string>
                <string>39</string>
                <string>Italy</string>
            </array>
            <array>
                <string>KT</string>
                <string>225</string>
                <string>Ivory Coast</string>
            </array>            
        </array>
    </dict>
    <dict>
        <key>J</key>
        <array>
            <array>
                <string>JE</string>
                <string>44</string>
                <string>Jersey</string>
            </array>
            <array>
                <string>JM</string>
                <string>1876</string>
                <string>Jamaica</string>
            </array>
            <array>
                <string>JO</string>
                <string>962</string>
                <string>Jordan</string>
            </array>
            <array>
                <string>JP</string>
                <string>81</string>
                <string>Japan</string>
            </array>            
        </array>
    </dict>
    <dict>
        <key>K</key>
        <array>
            <array>
                <string>KE</string>
                <string>254</string>
                <string>Kenya</string>
            </array>
            <array>
                <string>KG</string>
                <string>996</string>
                <string>Kyrgyzstan</string>
            </array>
            <array>
                <string>KI</string>
                <string>686</string>
                <string>Kiribati</string>
            </array>
            <array>
                <string>KR</string>
                <string>82</string>
                <string>Korea</string>
            </array>
            <array>
                <string>KW</string>
                <string>965</string>
                <string>Kuwait</string>
            </array>
            <array>
                <string>KZ</string>
                <string>7</string>
                <string>Kazakstan</string>
            </array>            
        </array>
    </dict>
    <dict>
        <key>L</key>
        <array>
            <array>
                <string>LA</string>
                <string>856</string>
                <string>Laos</string>
            </array>
            <array>
                <string>LB</string>
                <string>961</string>
                <string>Lebanon</string>
            </array>
            <array>
                <string>LI</string>
                <string>423</string>
                <string>Liechtenstein</string>
            </array>
            <array>
                <string>LR</string>
                <string>231</string>
                <string>Liberia</string>
            </array>
            <array>
                <string>LS</string>
                <string>266</string>
                <string>Lesotho</string>
            </array>
            <array>
                <string>LT</string>
                <string>370</string>
                <string>Lithuania</string>
            </array>
            <array>
                <string>LU</string>
                <string>352</string>
                <string>Luxembourg</string>
            </array>
            <array>
                <string>LV</string>
                <string>371</string>
                <string>Latvia</string>
            </array>
            <array>
                <string>LY</string>
                <string>218</string>
                <string>Libya</string>
            </array>            
        </array>
    </dict>
    <dict>
        <key>M</key>
        <array>
            <array>
                <string>FM</string>
                <string>691</string>
                <string>Micronesia</string>
            </array>
            <array>
                <string>MA</string>
                <string>212</string>
                <string>Morocco</string>
            </array>
            <array>
                <string>MC</string>
                <string>377</string>
                <string>Monaco</string>
            </array>
            <array>
                <string>MD</string>
                <string>373</string>
                <string>Moldova</string>
            </array>
            <array>
                <string>ME</string>
                <string>382</string>
                <string>Montenegro</string>
            </array>
            <array>
                <string>MG</string>
                <string>261</string>
                <string>Madagascar</string>
            </array>
            <array>
                <string>MH</string>
                <string>692</string>
                <string>Marshall Islands</string>
            </array>
            <array>
                <string>ML</string>
                <string>223</string>
                <string>Mali</string>
            </array>
            <array>
                <string>MM</string>
                <string>95</string>
                <string>Myanmar</string>
            </array>
            <array>
                <string>MN</string>
                <string>976</string>
                <string>Mongolia</string>
            </array>
            <array>
                <string>MO</string>
                <string>853</string>
                <string>Macao</string>
            </array>
            <array>
                <string>MQ</string>
                <string>596</string>
                <string>Martinique</string>
            </array>
            <array>
                <string>MR</string>
                <string>222</string>
                <string>Mauritania</string>
            </array>
            <array>
                <string>MS</string>
                <string>1664</string>
                <string>Montserrat Is.</string>
            </array>
            <array>
                <string>MT</string>
                <string>356</string>
                <string>Malta</string>
            </array>
            <array>
                <string>MU</string>
                <string>230</string>
                <string>Mauritius</string>
            </array>
            <array>
                <string>MV</string>
                <string>960</string>
                <string>Maldives</string>
            </array>
            <array>
                <string>MW</string>
                <string>265</string>
                <string>Malawi</string>
            </array>
            <array>
                <string>MX</string>
                <string>52</string>
                <string>Mexico</string>
            </array>
            <array>
                <string>MY</string>
                <string>60</string>
                <string>Malaysia</string>
            </array>
            <array>
                <string>MZ</string>
                <string>258</string>
                <string>Mozambique</string>
            </array>
            <array>
                <string>YT</string>
                <string>269</string>
                <string>Mayotte</string>
            </array>            
        </array>
    </dict>
    <dict>
        <key>N</key>
        <array>
            <array>
                <string>AN</string>
                <string>599</string>
                <string>Netheriands Antilles</string>
            </array>
            <array>
                <string>KP</string>
                <string>850</string>
                <string>North Korea</string>
            </array>
            <array>
                <string>MK</string>
                <string>389</string>
                <string>North Macedonia</string>
            </array>
            <array>
                <string>MP</string>
                <string>1670</string>
                <string>Northern Mariana Islands</string>
            </array>
            <array>
                <string>NA</string>
                <string>264</string>
                <string>Namibia</string>
            </array>
            <array>
                <string>NC</string>
                <string>687</string>
                <string>New Caledonia</string>
            </array>
            <array>
                <string>NE</string>
                <string>227</string>
                <string>Niger</string>
            </array>
            <array>
                <string>NF</string>
                <string>6723</string>
                <string>Norfolk Island</string>
            </array>
            <array>
                <string>NG</string>
                <string>234</string>
                <string>Nigeria</string>
            </array>
            <array>
                <string>NI</string>
                <string>505</string>
                <string>Nicaragua</string>
            </array>
            <array>
                <string>NL</string>
                <string>31</string>
                <string>Netherlands</string>
            </array>
            <array>
                <string>NO</string>
                <string>47</string>
                <string>Norway</string>
            </array>
            <array>
                <string>NP</string>
                <string>977</string>
                <string>Nepal</string>
            </array>
            <array>
                <string>NR</string>
                <string>674</string>
                <string>Nauru</string>
            </array>
            <array>
                <string>NU</string>
                <string>683</string>
                <string>Niue</string>
            </array>
            <array>
                <string>NZ</string>
                <string>64</string>
                <string>New Zealand</string>
            </array>            
        </array>
    </dict>
    <dict>
        <key>O</key>
        <array>
            <array>
                <string>OM</string>
                <string>968</string>
                <string>Oman</string>
            </array>            
        </array>
    </dict>
    <dict>
        <key>P</key>
        <array>
            <array>
                <string>PA</string>
                <string>507</string>
                <string>Panama</string>
            </array>
            <array>
                <string>PE</string>
                <string>51</string>
                <string>Peru</string>
            </array>
            <array>
                <string>PG</string>
                <string>675</string>
                <string>Papua New Cuinea</string>
            </array>
            <array>
                <string>PH</string>
                <string>63</string>
                <string>Philippines</string>
            </array>
            <array>
                <string>PK</string>
                <string>92</string>
                <string>Pakistan</string>
            </array>
            <array>
                <string>PL</string>
                <string>48</string>
                <string>Poland</string>
            </array>
            <array>
                <string>PN</string>
                <string>64</string>
                <string>Pitcairn Islands</string>
            </array>
            <array>
                <string>PR</string>
                <string>1787</string>
                <string>Puerto Rico</string>
            </array>
            <array>
                <string>PS</string>
                <string>970</string>
                <string>Palestine, State of</string>
            </array>
            <array>
                <string>PT</string>
                <string>351</string>
                <string>Portugal</string>
            </array>
            <array>
                <string>PW</string>
                <string>680</string>
                <string>Palau</string>
            </array>
            <array>
                <string>PY</string>
                <string>595</string>
                <string>Paraguay</string>
            </array>            
        </array>
    </dict>
    <dict>
        <key>Q</key>
        <array>
            <array>
                <string>QA</string>
                <string>974</string>
                <string>Qatar</string>
            </array>            
        </array>
    </dict>
    <dict>
        <key>R</key>
        <array>
            <array>
                <string>RE</string>
                <string>262</string>
                <string>Reunion</string>
            </array>
            <array>
                <string>RO</string>
                <string>40</string>
                <string>Romania</string>
            </array>
            <array>
                <string>RU</string>
                <string>7</string>
                <string>Russia</string>
            </array>
            <array>
                <string>RW</string>
                <string>250</string>
                <string>Rwanda</string>
            </array>
            <array>
                <string>XK</string>
                <string>383</string>
                <string>Republic of Kosovo</string>
            </array>            
        </array>
    </dict>
    <dict>
        <key>S</key>
        <array>
            <array>
                <string>AS</string>
                <string>684</string>
                <string>Samoa Eastern</string>
            </array>
            <array>
                <string>BL</string>
                <string>590</string>
                <string>Saint Barthélemy</string>
            </array>
            <array>
                <string>CH</string>
                <string>41</string>
                <string>Switzerland</string>
            </array>
            <array>
                <string>ES</string>
                <string>34</string>
                <string>Spain</string>
            </array>
            <array>
                <string>GS</string>
                <string>500</string>
                <string>So. Georgia &amp; So. Sandwich Isl.</string>
            </array>
            <array>
                <string>KN</string>
                <string>1869</string>
                <string>St. Kitts &amp; Nevis</string>
            </array>
            <array>
                <string>LC</string>
                <string>1758</string>
                <string>Saint Lueia</string>
            </array>
            <array>
                <string>LK</string>
                <string>94</string>
                <string>Sri Lanka</string>
            </array>
            <array>
                <string>MF</string>
                <string>590</string>
                <string>St. Martin</string>
            </array>
            <array>
                <string>PM</string>
                <string>508</string>
                <string>St. Pierre &amp; Miquelon</string>
            </array>
            <array>
                <string>RS</string>
                <string>381</string>
                <string>Serbia</string>
            </array>
            <array>
                <string>SA</string>
                <string>966</string>
                <string>Saudi Arabia</string>
            </array>
            <array>
                <string>SB</string>
                <string>677</string>
                <string>Solomon Is.</string>
            </array>
            <array>
                <string>SC</string>
                <string>248</string>
                <string>Seychelles</string>
            </array>
            <array>
                <string>SD</string>
                <string>249</string>
                <string>Sudan</string>
            </array>
            <array>
                <string>SE</string>
                <string>46</string>
                <string>Sweden</string>
            </array>
            <array>
                <string>SG</string>
                <string>65</string>
                <string>Singapore</string>
            </array>
            <array>
                <string>SH</string>
                <string>290</string>
                <string>St Helena</string>
            </array>
            <array>
                <string>SI</string>
                <string>386</string>
                <string>Slovenia</string>
            </array>
            <array>
                <string>SJ</string>
                <string>4779</string>
                <string>Svalbard &amp; Jan Mayen</string>
            </array>
            <array>
                <string>SK</string>
                <string>421</string>
                <string>Slovakia</string>
            </array>
            <array>
                <string>SL</string>
                <string>232</string>
                <string>Sierra Leone</string>
            </array>
            <array>
                <string>SM</string>
                <string>378</string>
                <string>San Marino</string>
            </array>
            <array>
                <string>SN</string>
                <string>221</string>
                <string>Senegal</string>
            </array>
            <array>
                <string>SO</string>
                <string>252</string>
                <string>Somali</string>
            </array>
            <array>
                <string>SR</string>
                <string>597</string>
                <string>Suriname</string>
            </array>
            <array>
                <string>SS</string>
                <string>211</string>
                <string>South Sudan</string>
            </array>
            <array>
                <string>ST</string>
                <string>239</string>
                <string>São Tomé &amp; Príncipe</string>
            </array>
            <array>
                <string>SX</string>
                <string>1721</string>
                <string>Sint Maarten</string>
            </array>
            <array>
                <string>SY</string>
                <string>963</string>
                <string>Syria</string>
            </array>
            <array>
                <string>SZ</string>
                <string>268</string>
                <string>Swaziland</string>
            </array>
            <array>
                <string>VC</string>
                <string>1784</string>
                <string>Saint Vincent</string>
            </array>
            <array>
                <string>WS</string>
                <string>685</string>
                <string>Samoa Western</string>
            </array>
            <array>
                <string>ZA</string>
                <string>27</string>
                <string>South Africa</string>
            </array>            
        </array>
    </dict>
    <dict>
        <key>T</key>
        <array>
            <array>
                <string>TA</string>
                <string>2908</string>
                <string>Tristan da Cunha</string>
            </array>
            <array>
                <string>TC</string>
                <string>1649</string>
                <string>Turks &amp; Caicos Islands</string>
            </array>
            <array>
                <string>TG</string>
                <string>228</string>
                <string>Togo</string>
            </array>
            <array>
                <string>TH</string>
                <string>66</string>
                <string>Thailand</string>
            </array>
            <array>
                <string>TJ</string>
                <string>992</string>
                <string>Tajikstan</string>
            </array>
            <array>
                <string>TK</string>
                <string>690</string>
                <string>Tokelau</string>
            </array>
            <array>
                <string>TL</string>
                <string>670</string>
                <string>Timor-Leste</string>
            </array>
            <array>
                <string>TM</string>
                <string>993</string>
                <string>Turkmenistan</string>
            </array>
            <array>
                <string>TN</string>
                <string>216</string>
                <string>Tunisia</string>
            </array>
            <array>
                <string>TO</string>
                <string>676</string>
                <string>Tonga</string>
            </array>
            <array>
                <string>TR</string>
                <string>90</string>
                <string>Turkey</string>
            </array>
            <array>
                <string>TT</string>
                <string>1809</string>
                <string>Trinidad &amp; Tobago</string>
            </array>
            <array>
                <string>TV</string>
                <string>688</string>
                <string>Tuvalu</string>
            </array>
            <array>
                <string>TW</string>
                <string>886</string>
                <string>Taiwan</string>
            </array>
            <array>
                <string>TZ</string>
                <string>255</string>
                <string>Tanzania</string>
            </array>            
        </array>
    </dict>
    <dict>
        <key>U</key>
        <array>
            <array>
                <string>AE</string>
                <string>971</string>
                <string>United Arab Emirates</string>
            </array>
            <array>
                <string>GB</string>
                <string>44</string>
                <string>United Kiongdom</string>
            </array>
            <array>
                <string>UA</string>
                <string>380</string>
                <string>Ukraine</string>
            </array>
            <array>
                <string>UG</string>
                <string>256</string>
                <string>Uganda</string>
            </array>
            <array>
                <string>UM</string>
                <string>1</string>
                <string>U.S Outlying Islands</string>
            </array>
            <array>
                <string>US</string>
                <string>1</string>
                <string>United States</string>
            </array>
            <array>
                <string>UY</string>
                <string>598</string>
                <string>Uruguay</string>
            </array>
            <array>
                <string>UZ</string>
                <string>233</string>
                <string>Uzbekistan</string>
            </array>
            <array>
                <string>VI</string>
                <string>1340</string>
                <string>U.S. Virgin Islands</string>
            </array>            
        </array>
    </dict>
    <dict>
        <key>V</key>
        <array>
            <array>
                <string>VA</string>
                <string>379</string>
                <string>Vatican City</string>
            </array>
            <array>
                <string>VE</string>
                <string>58</string>
                <string>Venezuela</string>
            </array>
            <array>
                <string>VN</string>
                <string>84</string>
                <string>Vietnam</string>
            </array>
            <array>
                <string>VU</string>
                <string>678</string>
                <string>Vanuatu</string>
            </array>            
        </array>
    </dict>
    <dict>
        <key>W</key>
        <array>
            <array>
                <string>EH</string>
                <string>210</string>
                <string>Western Sahara</string>
            </array>
            <array>
                <string>WF</string>
                <string>681</string>
                <string>Wallis &amp; Futuna</string>
            </array>            
        </array>
    </dict>
    <dict>
        <key>X</key>
        <array/>
    </dict>
    <dict>
        <key>Y</key>
        <array>
            <array>
                <string>YE</string>
                <string>967</string>
                <string>Yemen</string>
            </array>
            <array>
                <string>YU</string>
                <string>381</string>
                <string>Yugoslavia</string>
            </array>            
        </array>
    </dict>
    <dict>
        <key>Z</key>
        <array>
            <array>
                <string>ZM</string>
                <string>260</string>
                <string>Zambia</string>
            </array>
            <array>
                <string>ZW</string>
                <string>263</string>
                <string>Zimbabwe</string>
            </array>            
        </array>
    </dict>
    <dict>
        <key></key>
        <array>
            <array>
                <string></string>
                <string></string>
                <string>Other</string>
            </array>
        </array>
    </dict>
</array>
</plist>