<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>A</key>
        <array>
            <array>
                <string>AC</string>
                <string>247</string>
                <string>阿森松</string>
            </array>
            <array>
                <string>AD</string>
                <string>376</string>
                <string>安道尔共和国</string>
            </array>
            <array>
                <string>AE</string>
                <string>971</string>
                <string>阿拉伯联合酋长国</string>
            </array>
            <array>
                <string>AF</string>
                <string>93</string>
                <string>阿富汗</string>
            </array>
            <array>
                <string>AG</string>
                <string>1268</string>
                <string>安提瓜和巴布达</string>
            </array>
            <array>
                <string>AI</string>
                <string>1264</string>
                <string>安圭拉岛</string>
            </array>
            <array>
                <string>AL</string>
                <string>355</string>
                <string>阿尔巴尼亚</string>
            </array>
            <array>
                <string>AO</string>
                <string>244</string>
                <string>安哥拉</string>
            </array>
            <array>
                <string>AR</string>
                <string>54</string>
                <string>阿根廷</string>
            </array>
            <array>
                <string>AT</string>
                <string>43</string>
                <string>奥地利</string>
            </array>
            <array>
                <string>AU</string>
                <string>61</string>
                <string>澳大利亚</string>
            </array>
            <array>
                <string>AW</string>
                <string>297</string>
                <string>阿鲁巴</string>
            </array>
            <array>
                <string>AX</string>
                <string>358</string>
                <string>奥兰群岛</string>
            </array>
            <array>
                <string>AZ</string>
                <string>994</string>
                <string>阿塞拜疆</string>
            </array>
            <array>
                <string>DZ</string>
                <string>213</string>
                <string>阿尔及利亚</string>
            </array>
            <array>
                <string>EE</string>
                <string>372</string>
                <string>爱沙尼亚</string>
            </array>
            <array>
                <string>EG</string>
                <string>20</string>
                <string>埃及</string>
            </array>
            <array>
                <string>ET</string>
                <string>251</string>
                <string>埃塞俄比亚</string>
            </array>
            <array>
                <string>IE</string>
                <string>353</string>
                <string>爱尔兰</string>
            </array>
            <array>
                <string>MO</string>
                <string>853</string>
                <string>澳门(中国)</string>
            </array>
            <array>
                <string>OM</string>
                <string>968</string>
                <string>阿曼</string>
            </array>
        </array>
    </dict>
    <dict>
        <key>B</key>
        <array>
            <array>
                <string>BA</string>
                <string>387</string>
                <string>波黑</string>
            </array>
            <array>
                <string>BB</string>
                <string>1246</string>
                <string>巴巴多斯</string>
            </array>
            <array>
                <string>BE</string>
                <string>32</string>
                <string>比利时</string>
            </array>
            <array>
                <string>BF</string>
                <string>226</string>
                <string>布基纳法索</string>
            </array>
            <array>
                <string>BG</string>
                <string>359</string>
                <string>保加利亚</string>
            </array>
            <array>
                <string>BH</string>
                <string>973</string>
                <string>巴林</string>
            </array>
            <array>
                <string>BI</string>
                <string>257</string>
                <string>布隆迪</string>
            </array>
            <array>
                <string>BJ</string>
                <string>229</string>
                <string>贝宁</string>
            </array>
            <array>
                <string>BM</string>
                <string>1441</string>
                <string>百慕大群岛</string>
            </array>
            <array>
                <string>BO</string>
                <string>591</string>
                <string>玻利维亚</string>
            </array>
            <array>
                <string>BR</string>
                <string>55</string>
                <string>巴西</string>
            </array>
            <array>
                <string>BS</string>
                <string>1242</string>
                <string>巴哈马</string>
            </array>
            <array>
                <string>BT</string>
                <string>975</string>
                <string>不丹</string>
            </array>
            <array>
                <string>BV</string>
                <string>263</string>
                <string>布韦岛</string>
            </array>
            <array>
                <string>BW</string>
                <string>267</string>
                <string>博茨瓦纳</string>
            </array>
            <array>
                <string>BY</string>
                <string>375</string>
                <string>白俄罗斯</string>
            </array>
            <array>
                <string>BZ</string>
                <string>501</string>
                <string>伯利兹</string>
            </array>
            <array>
                <string>IS</string>
                <string>354</string>
                <string>冰岛</string>
            </array>
            <array>
                <string>MK</string>
                <string>389</string>
                <string>北马其顿</string>
            </array>
            <array>
                <string>PA</string>
                <string>507</string>
                <string>巴拿马</string>
            </array>
            <array>
                <string>PE</string>
                <string>51</string>
                <string>秘鲁</string>
            </array>
            <array>
                <string>PG</string>
                <string>675</string>
                <string>巴布亚新几内亚</string>
            </array>
            <array>
                <string>PK</string>
                <string>92</string>
                <string>巴基斯坦</string>
            </array>
            <array>
                <string>PL</string>
                <string>48</string>
                <string>波兰</string>
            </array>
            <array>
                <string>PR</string>
                <string>1787</string>
                <string>波多黎各</string>
            </array>
            <array>
                <string>PS</string>
                <string>970</string>
                <string>巴勒斯坦</string>
            </array>
            <array>
                <string>PY</string>
                <string>595</string>
                <string>巴拉圭</string>
            </array>
        </array>
    </dict>
    <dict>
        <key>C</key>
        <array>
            <array>
                <string>GQ</string>
                <string>240</string>
                <string>赤道几内亚</string>
            </array>
            <array>
                <string>KP</string>
                <string>850</string>
                <string>朝鲜</string>
            </array>
        </array>
    </dict>
    <dict>
        <key>D</key>
        <array>
            <array>
                <string>AS</string>
                <string>684</string>
                <string>东萨摩亚</string>
            </array>
            <array>
                <string>DE</string>
                <string>49</string>
                <string>德国</string>
            </array>
            <array>
                <string>DG</string>
                <string>44</string>
                <string>迪戈加西亚岛</string>
            </array>
            <array>
                <string>DK</string>
                <string>45</string>
                <string>丹麦</string>
            </array>
            <array>
                <string>DM</string>
                <string>1767</string>
                <string>多米尼克</string>
            </array>
            <array>
                <string>DO</string>
                <string>1890</string>
                <string>多米尼加</string>
            </array>
            <array>
                <string>TG</string>
                <string>228</string>
                <string>多哥</string>
            </array>
            <array>
                <string>TL</string>
                <string>670</string>
                <string>东帝汶</string>
            </array>
        </array>
    </dict>
    <dict>
        <key>E</key>
        <array>
            <array>
                <string>EC</string>
                <string>593</string>
                <string>厄瓜多尔</string>
            </array>
            <array>
                <string>ER</string>
                <string>291</string>
                <string>厄立特里亚</string>
            </array>
            <array>
                <string>RU</string>
                <string>7</string>
                <string>俄罗斯</string>
            </array>
        </array>
    </dict>
    <dict>
        <key>F</key>
        <array>
            <array>
                <string>CV</string>
                <string>238</string>
                <string>佛得角</string>
            </array>
            <array>
                <string>FI</string>
                <string>358</string>
                <string>芬兰</string>
            </array>
            <array>
                <string>FJ</string>
                <string>679</string>
                <string>斐济</string>
            </array>
            <array>
                <string>FK</string>
                <string>500</string>
                <string>富克兰群岛</string>
            </array>
            <array>
                <string>FO</string>
                <string>298</string>
                <string>法罗群岛</string>
            </array>
            <array>
                <string>FR</string>
                <string>33</string>
                <string>法国</string>
            </array>
            <array>
                <string>GF</string>
                <string>594</string>
                <string>法属圭亚那</string>
            </array>
            <array>
                <string>MF</string>
                <string>590</string>
                <string>法属圣马丁</string>
            </array>
            <array>
                <string>PF</string>
                <string>689</string>
                <string>法属玻利尼西亚</string>
            </array>
            <array>
                <string>PH</string>
                <string>63</string>
                <string>菲律宾</string>
            </array>
            <array>
                <string>TF</string>
                <string>33</string>
                <string>法属南部领地</string>
            </array>
            <array>
                <string>VA</string>
                <string>379</string>
                <string>梵蒂冈</string>
            </array>
        </array>
    </dict>
    <dict>
        <key>G</key>
        <array>
            <array>
                <string>CD</string>
                <string>243</string>
                <string>刚果民主共和国</string>
            </array>
            <array>
                <string>CG</string>
                <string>242</string>
                <string>刚果</string>
            </array>
            <array>
                <string>CO</string>
                <string>57</string>
                <string>哥伦比亚</string>
            </array>
            <array>
                <string>CR</string>
                <string>506</string>
                <string>哥斯达黎加</string>
            </array>
            <array>
                <string>CU</string>
                <string>53</string>
                <string>古巴</string>
            </array>
            <array>
                <string>GD</string>
                <string>1809</string>
                <string>格林纳达</string>
            </array>
            <array>
                <string>GE</string>
                <string>995</string>
                <string>格鲁吉亚</string>
            </array>
            <array>
                <string>GG</string>
                <string>44</string>
                <string>根西岛</string>
            </array>
            <array>
                <string>GL</string>
                <string>299</string>
                <string>格陵兰</string>
            </array>
            <array>
                <string>GM</string>
                <string>220</string>
                <string>冈比亚</string>
            </array>
            <array>
                <string>GP</string>
                <string>590</string>
                <string>瓜德罗普</string>
            </array>
            <array>
                <string>GU</string>
                <string>1671</string>
                <string>关岛</string>
            </array>
            <array>
                <string>GY</string>
                <string>592</string>
                <string>圭亚那</string>
            </array>
        </array>
    </dict>
    <dict>
        <key>H</key>
        <array>
            <array>
                <string>AN</string>
                <string>599</string>
                <string>荷属安的列斯群岛</string>
            </array>
            <array>
                <string>HM</string>
                <string>61</string>
                <string>赫德岛和麦克唐纳群岛</string>
            </array>
            <array>
                <string>HN</string>
                <string>504</string>
                <string>洪都拉斯</string>
            </array>
            <array>
                <string>HT</string>
                <string>509</string>
                <string>海地</string>
            </array>
            <array>
                <string>KR</string>
                <string>82</string>
                <string>韩国</string>
            </array>
            <array>
                <string>KZ</string>
                <string>7</string>
                <string>哈萨克斯坦</string>
            </array>
            <array>
                <string>ME</string>
                <string>382</string>
                <string>黑山</string>
            </array>
            <array>
                <string>NL</string>
                <string>31</string>
                <string>荷兰</string>
            </array>
            <array>
                <string>SX</string>
                <string>1721</string>
                <string>荷属圣马丁</string>
            </array>
        </array>
    </dict>
    <dict>
        <key>I</key>
        <array/>
    </dict>
    <dict>
        <key>J</key>
        <array>
            <array>
                <string>CA</string>
                <string>1</string>
                <string>加拿大</string>
            </array>
            <array>
                <string>CZ</string>
                <string>420</string>
                <string>捷克</string>
            </array>
            <array>
                <string>DJ</string>
                <string>253</string>
                <string>吉布提</string>
            </array>
            <array>
                <string>GA</string>
                <string>241</string>
                <string>加蓬</string>
            </array>
            <array>
                <string>GH</string>
                <string>233</string>
                <string>加纳</string>
            </array>
            <array>
                <string>GN</string>
                <string>224</string>
                <string>几内亚</string>
            </array>
            <array>
                <string>GW</string>
                <string>245</string>
                <string>几内亚比绍共和国</string>
            </array>
            <array>
                <string>IC</string>
                <string>34</string>
                <string>加那利群岛</string>
            </array>
            <array>
                <string>KG</string>
                <string>996</string>
                <string>吉尔吉斯坦</string>
            </array>
            <array>
                <string>KH</string>
                <string>855</string>
                <string>柬埔寨</string>
            </array>
            <array>
                <string>KI</string>
                <string>686</string>
                <string>基里巴斯</string>
            </array>
            <array>
                <string>ZW</string>
                <string>263</string>
                <string>津巴布韦</string>
            </array>
        </array>
    </dict>
    <dict>
        <key>K</key>
        <array>
            <array>
                <string>CC</string>
                <string>61</string>
                <string>科科斯群岛</string>
            </array>
            <array>
                <string>CK</string>
                <string>682</string>
                <string>库克群岛</string>
            </array>
            <array>
                <string>CM</string>
                <string>237</string>
                <string>喀麦隆</string>
            </array>
            <array>
                <string>CP</string>
                <string>33</string>
                <string>克利珀顿岛</string>
            </array>
            <array>
                <string>CW</string>
                <string>599</string>
                <string>库拉索岛</string>
            </array>
            <array>
                <string>HR</string>
                <string>385</string>
                <string>克罗地亚</string>
            </array>
            <array>
                <string>KE</string>
                <string>254</string>
                <string>肯尼亚</string>
            </array>
            <array>
                <string>KM</string>
                <string>269</string>
                <string>科摩罗</string>
            </array>
            <array>
                <string>KT</string>
                <string>225</string>
                <string>科特迪瓦</string>
            </array>
            <array>
                <string>KW</string>
                <string>965</string>
                <string>科威特</string>
            </array>
            <array>
                <string>KY</string>
                <string>1345</string>
                <string>开曼群岛</string>
            </array>
            <array>
                <string>QA</string>
                <string>974</string>
                <string>卡塔尔</string>
            </array>
            <array>
                <string>XK</string>
                <string>383</string>
                <string>科索沃</string>
            </array>
        </array>
    </dict>
    <dict>
        <key>L</key>
        <array>
            <array>
                <string>LA</string>
                <string>856</string>
                <string>老挝</string>
            </array>
            <array>
                <string>LB</string>
                <string>961</string>
                <string>黎巴嫩</string>
            </array>
            <array>
                <string>LI</string>
                <string>423</string>
                <string>列支敦士登</string>
            </array>
            <array>
                <string>LR</string>
                <string>231</string>
                <string>利比里亚</string>
            </array>
            <array>
                <string>LS</string>
                <string>266</string>
                <string>莱索托</string>
            </array>
            <array>
                <string>LT</string>
                <string>370</string>
                <string>立陶宛</string>
            </array>
            <array>
                <string>LU</string>
                <string>352</string>
                <string>卢森堡</string>
            </array>
            <array>
                <string>LV</string>
                <string>371</string>
                <string>拉脱维亚</string>
            </array>
            <array>
                <string>LY</string>
                <string>218</string>
                <string>利比亚</string>
            </array>
            <array>
                <string>RE</string>
                <string>262</string>
                <string>留尼旺</string>
            </array>
            <array>
                <string>RO</string>
                <string>40</string>
                <string>罗马尼亚</string>
            </array>
            <array>
                <string>RW</string>
                <string>250</string>
                <string>卢旺达</string>
            </array>
        </array>
    </dict>
    <dict>
        <key>M</key>
        <array>
            <array>
                <string>BD</string>
                <string>880</string>
                <string>孟加拉国</string>
            </array>
            <array>
                <string>FM</string>
                <string>691</string>
                <string>密克罗尼西亚</string>
            </array>
            <array>
                <string>IM</string>
                <string>44</string>
                <string>马恩岛</string>
            </array>
            <array>
                <string>MA</string>
                <string>212</string>
                <string>摩洛哥</string>
            </array>
            <array>
                <string>MC</string>
                <string>377</string>
                <string>摩纳哥</string>
            </array>
            <array>
                <string>MD</string>
                <string>373</string>
                <string>摩尔多瓦</string>
            </array>
            <array>
                <string>MG</string>
                <string>261</string>
                <string>马达加斯加</string>
            </array>
            <array>
                <string>MH</string>
                <string>692</string>
                <string>马绍尔群岛</string>
            </array>
            <array>
                <string>ML</string>
                <string>223</string>
                <string>马里</string>
            </array>
            <array>
                <string>MM</string>
                <string>95</string>
                <string>缅甸</string>
            </array>
            <array>
                <string>MN</string>
                <string>976</string>
                <string>蒙古</string>
            </array>
            <array>
                <string>MP</string>
                <string>1670</string>
                <string>美属北马里亚纳群岛</string>
            </array>
            <array>
                <string>MQ</string>
                <string>596</string>
                <string>马提尼克</string>
            </array>
            <array>
                <string>MR</string>
                <string>222</string>
                <string>毛里塔尼亚</string>
            </array>
            <array>
                <string>MS</string>
                <string>1664</string>
                <string>蒙特塞拉特岛</string>
            </array>
            <array>
                <string>MT</string>
                <string>356</string>
                <string>马耳他</string>
            </array>
            <array>
                <string>MU</string>
                <string>230</string>
                <string>毛里求斯</string>
            </array>
            <array>
                <string>MV</string>
                <string>960</string>
                <string>马尔代夫</string>
            </array>
            <array>
                <string>MW</string>
                <string>265</string>
                <string>马拉维</string>
            </array>
            <array>
                <string>MX</string>
                <string>52</string>
                <string>墨西哥</string>
            </array>
            <array>
                <string>MY</string>
                <string>60</string>
                <string>马来西亚</string>
            </array>
            <array>
                <string>MZ</string>
                <string>258</string>
                <string>莫桑比克</string>
            </array>
            <array>
                <string>UM</string>
                <string>1</string>
                <string>美国本土外小岛屿</string>
            </array>
            <array>
                <string>US</string>
                <string>1</string>
                <string>美国</string>
            </array>
            <array>
                <string>VI</string>
                <string>1340</string>
                <string>美属维尔京群岛</string>
            </array>
            <array>
                <string>YT</string>
                <string>269</string>
                <string>马约特岛</string>
            </array>
        </array>
    </dict>
    <dict>
        <key>N</key>
        <array>
            <array>
                <string>AQ</string>
                <string>64672</string>
                <string>南极洲</string>
            </array>
            <array>
                <string>GS</string>
                <string>500</string>
                <string>南乔治亚岛和南桑德韦奇岛</string>
            </array>
            <array>
                <string>NA</string>
                <string>264</string>
                <string>纳米比亚</string>
            </array>
            <array>
                <string>NE</string>
                <string>227</string>
                <string>尼日尔</string>
            </array>
            <array>
                <string>NF</string>
                <string>6723</string>
                <string>诺福克岛</string>
            </array>
            <array>
                <string>NG</string>
                <string>234</string>
                <string>尼日利亚</string>
            </array>
            <array>
                <string>NI</string>
                <string>505</string>
                <string>尼加拉瓜</string>
            </array>
            <array>
                <string>NO</string>
                <string>47</string>
                <string>挪威</string>
            </array>
            <array>
                <string>NP</string>
                <string>977</string>
                <string>尼泊尔</string>
            </array>
            <array>
                <string>NR</string>
                <string>674</string>
                <string>瑙鲁</string>
            </array>
            <array>
                <string>NU</string>
                <string>683</string>
                <string>纽埃岛</string>
            </array>
            <array>
                <string>SS</string>
                <string>211</string>
                <string>南苏丹</string>
            </array>
            <array>
                <string>YU</string>
                <string>381</string>
                <string>南斯拉夫</string>
            </array>
            <array>
                <string>ZA</string>
                <string>27</string>
                <string>南非</string>
            </array>
        </array>
    </dict>
    <dict>
        <key>O</key>
        <array/>
    </dict>
    <dict>
        <key>P</key>
        <array>
            <array>
                <string>PN</string>
                <string>64</string>
                <string>皮特凯恩群岛</string>
            </array>
            <array>
                <string>PT</string>
                <string>351</string>
                <string>葡萄牙</string>
            </array>
            <array>
                <string>PW</string>
                <string>680</string>
                <string>帕劳</string>
            </array>
        </array>
    </dict>
    <dict>
        <key>Q</key>
        <array/>
    </dict>
    <dict>
        <key>R</key>
        <array>
            <array>
                <string>CH</string>
                <string>41</string>
                <string>瑞士</string>
            </array>
            <array>
                <string>JP</string>
                <string>81</string>
                <string>日本</string>
            </array>
            <array>
                <string>SE</string>
                <string>46</string>
                <string>瑞典</string>
            </array>
        </array>
    </dict>
    <dict>
        <key>S</key>
        <array>
            <array>
                <string>BL</string>
                <string>590</string>
                <string>圣巴泰勒米岛</string>
            </array>
            <array>
                <string>CX</string>
                <string>61</string>
                <string>圣诞岛</string>
            </array>
            <array>
                <string>CY</string>
                <string>357</string>
                <string>塞浦路斯</string>
            </array>
            <array>
                <string>KN</string>
                <string>1869</string>
                <string>圣基茨和尼维斯</string>
            </array>
            <array>
                <string>LC</string>
                <string>1758</string>
                <string>圣卢西亚</string>
            </array>
            <array>
                <string>LK</string>
                <string>94</string>
                <string>斯里兰卡</string>
            </array>
            <array>
                <string>PM</string>
                <string>508</string>
                <string>圣皮埃尔和密克隆</string>
            </array>
            <array>
                <string>RS</string>
                <string>381</string>
                <string>塞尔维亚</string>
            </array>
            <array>
                <string>SA</string>
                <string>966</string>
                <string>沙特阿拉伯</string>
            </array>
            <array>
                <string>SB</string>
                <string>677</string>
                <string>所罗门群岛</string>
            </array>
            <array>
                <string>SC</string>
                <string>248</string>
                <string>塞舌尔</string>
            </array>
            <array>
                <string>SD</string>
                <string>249</string>
                <string>苏丹</string>
            </array>
            <array>
                <string>SH</string>
                <string>290</string>
                <string>圣赫勒拿</string>
            </array>
            <array>
                <string>SI</string>
                <string>386</string>
                <string>斯洛文尼亚</string>
            </array>
            <array>
                <string>SJ</string>
                <string>4779</string>
                <string>斯瓦尔巴和扬马延</string>
            </array>
            <array>
                <string>SK</string>
                <string>421</string>
                <string>斯洛伐克</string>
            </array>
            <array>
                <string>SL</string>
                <string>232</string>
                <string>塞拉利昂</string>
            </array>
            <array>
                <string>SM</string>
                <string>378</string>
                <string>圣马力诺</string>
            </array>
            <array>
                <string>SN</string>
                <string>221</string>
                <string>塞内加尔</string>
            </array>
            <array>
                <string>SO</string>
                <string>252</string>
                <string>索马里</string>
            </array>
            <array>
                <string>SR</string>
                <string>597</string>
                <string>苏里南</string>
            </array>
            <array>
                <string>ST</string>
                <string>239</string>
                <string>圣多美和普林西比</string>
            </array>
            <array>
                <string>SV</string>
                <string>503</string>
                <string>萨尔瓦多</string>
            </array>
            <array>
                <string>SZ</string>
                <string>268</string>
                <string>斯威士兰</string>
            </array>
            <array>
                <string>VC</string>
                <string>1784</string>
                <string>圣文森特岛</string>
            </array>
        </array>
    </dict>
    <dict>
        <key>T</key>
        <array>
            <array>
                <string>TA</string>
                <string>2908</string>
                <string>特⾥斯坦-达库尼亚</string>
            </array>
            <array>
                <string>TC</string>
                <string>1649</string>
                <string>特克斯和凯科斯群岛</string>
            </array>
            <array>
                <string>TH</string>
                <string>66</string>
                <string>泰国</string>
            </array>
            <array>
                <string>TJ</string>
                <string>992</string>
                <string>塔吉克斯坦</string>
            </array>
            <array>
                <string>TK</string>
                <string>690</string>
                <string>托克劳</string>
            </array>
            <array>
                <string>TM</string>
                <string>993</string>
                <string>土库曼斯坦</string>
            </array>
            <array>
                <string>TN</string>
                <string>216</string>
                <string>突尼斯</string>
            </array>
            <array>
                <string>TO</string>
                <string>676</string>
                <string>汤加</string>
            </array>
            <array>
                <string>TR</string>
                <string>90</string>
                <string>土耳其</string>
            </array>
            <array>
                <string>TT</string>
                <string>1809</string>
                <string>特立尼达和多巴哥</string>
            </array>
            <array>
                <string>TV</string>
                <string>688</string>
                <string>图瓦卢</string>
            </array>
            <array>
                <string>TW</string>
                <string>886</string>
                <string>台湾(中国)</string>
            </array>
            <array>
                <string>TZ</string>
                <string>255</string>
                <string>坦桑尼亚</string>
            </array>
        </array>
    </dict>
    <dict>
        <key>U</key>
        <array/>
    </dict>
    <dict>
        <key>V</key>
        <array/>
    </dict>
    <dict>
        <key>W</key>
        <array>
            <array>
                <string>BN</string>
                <string>673</string>
                <string>文莱</string>
            </array>
            <array>
                <string>GT</string>
                <string>502</string>
                <string>危地马拉</string>
            </array>
            <array>
                <string>UA</string>
                <string>380</string>
                <string>乌克兰</string>
            </array>
            <array>
                <string>UG</string>
                <string>256</string>
                <string>乌干达</string>
            </array>
            <array>
                <string>UY</string>
                <string>598</string>
                <string>乌拉圭</string>
            </array>
            <array>
                <string>UZ</string>
                <string>233</string>
                <string>乌兹别克斯坦</string>
            </array>
            <array>
                <string>VE</string>
                <string>58</string>
                <string>委内瑞拉</string>
            </array>
            <array>
                <string>VU</string>
                <string>678</string>
                <string>瓦努阿图</string>
            </array>
            <array>
                <string>WF</string>
                <string>681</string>
                <string>瓦利斯和富图纳</string>
            </array>
        </array>
    </dict>
    <dict>
        <key>X</key>
        <array>
            <array>
                <string>EA</string>
                <string>34</string>
                <string>休达和梅利利亚</string>
            </array>
            <array>
                <string>EH</string>
                <string>210</string>
                <string>西撒哈拉</string>
            </array>
            <array>
                <string>ES</string>
                <string>34</string>
                <string>西班牙</string>
            </array>
            <array>
                <string>GR</string>
                <string>30</string>
                <string>希腊</string>
            </array>
            <array>
                <string>HK</string>
                <string>852</string>
                <string>香港(中国)</string>
            </array>
            <array>
                <string>HU</string>
                <string>36</string>
                <string>匈牙利</string>
            </array>
            <array>
                <string>NC</string>
                <string>687</string>
                <string>新喀里多尼亚</string>
            </array>
            <array>
                <string>NZ</string>
                <string>64</string>
                <string>新西兰</string>
            </array>
            <array>
                <string>SG</string>
                <string>65</string>
                <string>新加坡</string>
            </array>
            <array>
                <string>SY</string>
                <string>963</string>
                <string>叙利亚</string>
            </array>
            <array>
                <string>WS</string>
                <string>685</string>
                <string>西萨摩亚</string>
            </array>
        </array>
    </dict>
    <dict>
        <key>Y</key>
        <array>
            <array>
                <string>AM</string>
                <string>374</string>
                <string>亚美尼亚</string>
            </array>
            <array>
                <string>GB</string>
                <string>44</string>
                <string>英国</string>
            </array>
            <array>
                <string>ID</string>
                <string>62</string>
                <string>印度尼西亚</string>
            </array>
            <array>
                <string>IL</string>
                <string>972</string>
                <string>以色列</string>
            </array>
            <array>
                <string>IN</string>
                <string>91</string>
                <string>印度</string>
            </array>
            <array>
                <string>IO</string>
                <string>246</string>
                <string>英属印度洋领地</string>
            </array>
            <array>
                <string>IQ</string>
                <string>964</string>
                <string>伊拉克</string>
            </array>
            <array>
                <string>IR</string>
                <string>98</string>
                <string>伊朗</string>
            </array>
            <array>
                <string>IT</string>
                <string>39</string>
                <string>意大利</string>
            </array>
            <array>
                <string>JM</string>
                <string>1876</string>
                <string>牙买加</string>
            </array>
            <array>
                <string>JO</string>
                <string>962</string>
                <string>约旦</string>
            </array>
            <array>
                <string>VG</string>
                <string>1284</string>
                <string>英属维尔京群岛</string>
            </array>
            <array>
                <string>VN</string>
                <string>84</string>
                <string>越南</string>
            </array>
            <array>
                <string>YE</string>
                <string>967</string>
                <string>也门</string>
            </array>
        </array>
    </dict>
    <dict>
        <key>Z</key>
        <array>
            <array>
                <string>CF</string>
                <string>236</string>
                <string>中非共和国</string>
            </array>
            <array>
                <string>CL</string>
                <string>56</string>
                <string>智利</string>
            </array>
            <array>
                <string>CN</string>
                <string>86</string>
                <string>中国大陆</string>
            </array>
            <array>
                <string>GI</string>
                <string>350</string>
                <string>直布罗陀</string>
            </array>
            <array>
                <string>JE</string>
                <string>44</string>
                <string>泽西岛</string>
            </array>
            <array>
                <string>TD</string>
                <string>235</string>
                <string>乍得</string>
            </array>
            <array>
                <string>ZM</string>
                <string>260</string>
                <string>赞比亚</string>
            </array>
        </array>
    </dict>
    <dict>
        <key></key>
        <array>
            <array>
                <string></string>
                <string></string>
                <string>其他</string>
            </array>
        </array>
    </dict>
</array>
</plist>
